@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400&family=Ubuntu:ital,wght@0,400;1,300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}

.headerPrincipal {
    font-family: 'Dosis', sans-serif;
    background-color: black;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

nav {
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
}

.navegacion {
    display: flex;
    align-items: center;
}

.navegacion li {
    list-style: none;
    margin: 0px 5px;
    padding: 0;
    border-left: 3px solid white;
    padding-left: 10px;
}

.navegacion li:nth-child(1) {
    border-left: 0px;
}

.navegacion li a:hover {
    color: blueviolet;
}

.navegacion li a {
    color: white;
    font-size: 1.4rem;
    text-decoration: none;
}

footer {
    position: sticky;
    bottom: 0;
    margin-top: 25px;
}

footer ul {
    display: flex;
    justify-content: flex-end;
}

footer ul li {
    list-style: none;
    margin: 0px 10px;
    padding: 0;
}

.logoRedes {
    width: 50px;
    height: 50px;
}

.centrados {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

/*index*/

.carousel img {
    width: 100%;
    max-height: 735px;
}

.sobreMi {
    display: flex;
    align-items: center;
}

.sobreMi img {
    max-width: 275px;
    max-height: 275px;
    border-radius: 50%;
    margin: 100px 50px 100px 120px;
}

.sobreMi h2 {
    margin-bottom: 15px;
    text-decoration-line: overline;
}

.sobreMi p {
    margin-right: 150px;
    text-align: justify;
}

.iframesIndex {
    display: flex;
    justify-content: space-evenly;
}

.iframesIndex aside {
    box-shadow: 1px 1px 10px 10px;
}

/*biografia*/

.biografiaMain {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}


.biografiaMain img{
    box-shadow: 1px 1px 5px 5px;
    width: 400px;
    height: 500px;
}

.biografiaMain p {
    width: 562px;
}

.seccionInicios {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.textoInicios {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 5px 5px;
    padding: 25px;
}
.textoInicios h2 {
    text-align: center;
    margin-bottom: 20px;
}

.seccionCompitiendo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 75px;
}

.textoCompitiendo {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 5px 5px;
    padding: 25px;
}

.textoCompitiendo h2 {
    text-align: center;
    margin-bottom: 20px;
}

.seccionAlDiaDeHoy {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 75px;
}

.textoAlDiaDeHoy {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 5px 5px;
    padding: 25px;
}
.textoAlDiaDeHoy h2 {
    text-align: center;
    margin-bottom: 20px;
}

.masNotas {
    margin: 50px;
    box-shadow: 1px 1px 3px 3px;
}

.masNotas h2 {
    padding: 10px;
}

.masNotas ul li {
    list-style: none;
    margin: 10px 10px;
    padding: 0;
}

.masNotas ul li a {
    text-decoration: none;
    color: black;
}

/*cursos*/

.seccionCursos {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.seccionCursos img{
    height: 600px;
    width: 400px;
    box-shadow: 2px 1px 5px 5px;
}

.cursoConteiner {
    display: flex;
    margin-bottom: 25px;
    margin-left: 25px;
}

.cursoConteiner div {
    box-shadow: 1px 1px 5px 5px;
    padding: 25px;
}

.adentroCurso {
    display: flex ;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 25px;
    margin-right: 25px;
}

.adentroCurso p {
    text-align: justify;
}

/*contacto*/
.formulario{
    margin-bottom: 100px;
    margin-top: 25px;
    margin-left: 25px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 60%;
}

/*galeria*/

.imgConteiner {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 300px);
    grid-gap: 20px;
}

.imgConteiner .boxImg figure {
    width: 100%;
    height: 100%;
}

.imgConteiner .boxImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 3px solid black;
}

.imgConteiner .boxImg:nth-child(1){
    grid-column-start: span 2;
}

.imgConteiner .boxImg:nth-child(2){
    grid-row-start: span 2;
}

.imgConteiner .boxImg:nth-child(4){
    grid-row-start: span 2;
}

.imgConteiner .boxImg:nth-child(7){
    grid-row-start: span 2;
}

.imgConteiner .boxImg:nth-child(8){
    grid-column-start: span 2;
}

/* media queries */

@media screen and (max-width: 576px){

.headerPrincipal {
    flex-direction: column;
}

.headerPrincipal a {
    margin: auto;
}

.navegacion{
    margin: auto;
}

footer {
    position: static;
}

footer ul {
    justify-content: center;
    margin: auto;
}
/* index */

.carousel img {
    height: 400px;
}

.sobreMi {
    flex-direction: column;
}

.sobreMi img {
    margin: auto;
    margin-top: 25px;
}

.sobreMi h2 {
    margin-left: 15px;
    margin-top: 25px;
}

.sobreMi p {
    margin: 15px;
}

.iframesIndex {
    flex-direction: column;
}

.iframesIndex aside {
    box-shadow: none;
}

/* cursos */

.seccionCursos {
    margin-top: 0;
}

.cursoConteiner {
    flex-direction: column;
    margin: auto;
}

.cursoConteiner img {
    box-shadow: none;
    margin: 0;
    width: auto;
}

.cursoConteiner div {
    box-shadow: none;
}

.cursoConteiner div p {
    margin-top: 10px;
}

/* galeria */

.imgConteiner {
    width: 99%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-gap: 0px;
    margin-top: 3px;
}

.imgConteiner .boxImg img{
    height: 500px;
}

.imgConteiner .boxImg:nth-child(1){
    display: none;
}

.imgConteiner .boxImg:nth-child(2){
    grid-row-start: span 1;
}

.imgConteiner .boxImg:nth-child(4){
    grid-row-start: span 1;
}

.imgConteiner .boxImg:nth-child(7){
    grid-row-start: span 1;
}

.imgConteiner .boxImg:nth-child(8){
    grid-column-start: span 1;
}

/* biografia */

.biografiaMain {
    margin-top: 0;
}

.biografiaMain img { 
    box-shadow: none;
    width: 100%;
    height: 600px;
}

.biografiaMain p {
    width: auto;
}

.seccionInicios {
    display: flex;
    flex-direction: column;
}

.textoInicios {
    box-shadow: none;
}

.seccionCompitiendo {
    flex-direction: column;
    margin-top: 0;
}

.textoCompitiendo {
    box-shadow: none;
}

.seccionAlDiaDeHoy {
   flex-direction: column;
   margin-top: 0;
}

.textoAlDiaDeHoy {
    box-shadow: none;
}
}