.biografiaMain {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    img{
        box-shadow: $sombra-principal;
        @include img-size (400px, 500px);
    }
}

.seccionInicios {
    @include bio-seccion;
    .textoInicios {
        @include bio-card;           
    }
}
.seccionCompitiendo {
    @include bio-seccion;
    flex-direction: row-reverse;
    margin-top: 75px;
    .textoCompitiendo {
        @include bio-card;
    }
}
.seccionAlDiaDeHoy {
    @include bio-seccion;
    margin-top: 75px;
    .textoAlDiaDeHoy {
        @include bio-card;
    }
}
.masNotas {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    color: $txt-color-index;
    width: 80%;
    align-self: center;
    margin-bottom: 10px;
    margin-top: 25px;
    background-color: rgba(192, 192, 192, .7);
    h2 {
        padding: 10px;
    }
    ul {
        li {
            list-style: none;
            margin: 10px 10px;
            padding: 0;
            a {
                text-decoration: none;
                color: $txt-color-index;
                &:hover {
                    color: blueviolet;
                }
            }
        }
    }
}