.biografiaMain {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    img{
        box-shadow: $sombra-principal;
        @include img-size (400px, 500px);
    }
    p {
        width: 562px;
    }
    .seccionInicios {
        @include bio-seccion;
        .textoInicios {
            @include bio-card;           
        }
    }
    .seccionCompitiendo {
        @include bio-seccion;
        flex-direction: row-reverse;
        margin-top: 75px;
        .textoCompitiendo {
           @include bio-card;
        }
    }
    .seccionAlDiaDeHoy {
        @include bio-seccion;
        margin-top: 75px;
        .textoAlDiaDeHoy {
            @include bio-card;
        }
    }
    .masNotas {
        margin: 50px 50px 5px 50px;
        box-shadow: $sombra-principal;
        color: $txt-color-index;
        h2 {
            padding: 10px;
        }
        ul {
            li {
                list-style: none;
                margin: 10px 10px;
                padding: 0;
                a {
                    text-decoration: none;
                    color: $txt-color-index;
                }
            }
        }
    }
}