.seccionCursos {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    img {
        @include img-size(400px, 600px);
        box-shadow: $sombra-principal;
        margin-left: 25px;
    }
    .cursoConteiner {
        display: flex;
        margin-bottom: 25px;
        .adentroCurso {
            @include cursos-card-layout;
            p {
                text-align: justify;
                color: $txt-color;
            }
            h2{
                color: $txt-color;
            }
        }
    }
}