@import "variables";

.seccionCursos {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    img{
        @include img-size(400px, 600px);
        box-shadow: $sombra-principal;
    }
    .cursoConteiner {
        display: flex;
        margin-bottom: 25px;
        margin-left: 25px;
        .adentroCurso {
            @include cursos-card-layout;
            p {
                text-align: justify;
            }
        }
    }
}