
.carousel img {
    @include img-size (100%, 735px);
}
.sobreMi {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    .textoSobreMi {
        width: 900px;
        padding-top: 20px;
        h2 {
            margin-bottom: 15px;
            text-decoration-line: overline;
            color: $txt-color-index;
            padding-left: 5px;
        }
        p {
            text-align: justify;
            font-weight: 900;
            color: $txt-color-index;
            background-color: rgba(192, 192, 192, .6);
            border-radius: 5px;
            padding: 5px;
        }

    }
    .imgSobreMi {
        margin-right: 25px;
        img {
            @include img-size(275px, 275px);
            border-radius: 50%;
        }
    }
}
.iframesIndex {
    display: flex;
    justify-content: space-evenly;
}
.sponsorSection{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    .sponsorLeft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .sponsorSectionTxt{
            width: 600px;
            h2{
                padding-left: 5px;
                color: $txt-color-index;
                text-decoration: overline;
            }
            p{
                text-align: justify;
                font-weight: 900;
                color: $txt-color-index;
                background-color: rgba(192, 192, 192, .6);
                border-radius: 5px;
                padding: 5px;
            }
        }
    }
    .sponsorSectionImg {
        display: flex;
        flex-direction: column;
        .indexImg{
            img{
                height: 500px;
                width: 300px;
                margin-bottom: -5.5px;   
            }
        }
        .indexLogo{
            display: flex;
            justify-content: space-between;
            img{
                border-radius: 50%;
                height: 100px;
                width: 100px;
                @include animacion (1.07);
            }  
        }
    }
}

.mediaContainer {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    .imgScrollIndex {
        img {
            @include img-size (400px, 500px);
            border-radius: 150px;
            border: 1px solid black;
            @include animacion (1.05);
        }
    }
}

.finIndex {
    color: $txt-color-index;
    .iframesIndexDos {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        iframe {
            width: 80%;
        }    
    }
    .textoFinIndex {
        display: flex;
        width: 50%;
        flex-direction: column;
        align-items: center;
        margin: auto;
        margin-top: 40px;
        .mtBaker {
            text-decoration: overline;
        }
        h3 {
            font-size: x-large;
        }
        p {
            text-align: justify;
            background-color: rgba(192, 192, 192, .7);
            border-radius: 5px;
            padding: 5px;
        }
    }
}