body {
    p{
    color: $txt-color-index;
    }
    h2{
    color: $txt-color-index;
    }
    .carousel img {
        @include img-size (100%, 735px);
    }
    .sobreMi {
        display: flex;
        align-items: center;
        img {
            @include img-size(275px, 275px);
            border-radius: 50%;
            margin: 100px 50px 100px 120px;
        }
        h2 {
            margin-bottom: 15px;
            text-decoration-line: overline;
        }
        p {
            margin-right: 150px;
            text-align: justify;
            font-weight: 900;
        }
    }
    .iframesIndex {
        display: flex;
        justify-content: space-evenly;
    }
    .sponsorSection{
        margin-top: 50px;
        display: flex;
        justify-content: space-evenly;
        .sponsorLeft {
            display: flex;
            flex-direction: column;
            .imgTxtIndex{
                img{
                    height: 400px;
                    width: 230px;
                    margin-left: -25px;
                    margin-top: -150px;
                }
            }
            .sponsorSectionTxt{
                height: 250px;
                width: 550px;
                p{
                    text-align: justify;
                    font-weight: 900; 
                }
            }
        }
        .sponsorSectionImg {
            display: flex;
            flex-direction: column;
            .indexImg{
                img{
                    height: 500px;
                    width: 300px;
                    margin-bottom: -5.5px;   
                }
            }
            .indexLogo{
                display: flex;
                justify-content: space-between;
                img{
                    border-radius: 50%;
                    height: 100px;
                    width: 100px;
                }  
            }
        }
    }
}