$bg-color: black;
$card-bg-color: rgba(0, 0, 0, 0.4);
$txt-color: whitesmoke;
$txt-color-index: black;
$header-color: black;
$header-txt-color: whitesmoke;

@mixin img-size ($width, $height) {
    height: $height;
    width: $width;
}

@mixin cursos-card-layout {
    padding: 25px;
    display: flex ;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: $card-bg-color;
    margin-left: 25px;
    margin-right: 25px;
}

@mixin bio-card {
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: $card-bg-color;
    h2 {
        text-align: center;
        margin-bottom: 20px;
        color: $txt-color;
    }
    p{
    color: $txt-color;
    width: 562px;
    text-align: justify;
    }
}

@mixin bio-seccion {
    display: flex;
    justify-content: space-around;
    align-items: center;
}