@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400&family=Ubuntu:ital,wght@0,400;1,300&display=swap');
@import "variables";
@import "index";
@import "cursos";
@import "galeria";
@import "biografia";
@import "contacto";

/* reset */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* estilos generales */

body {
    background-color: $bg-color;
    color: $txt-color;
    font-family: 'Ubuntu', sans-serif;
}

main {
    height: auto;
    background-size: 100%;
    background-image: url(../img/img-bg-2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.headerPrincipal {
    font-family: 'Dosis', sans-serif;
    background-color: $header-color;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    nav {
        align-items: flex-end;
        display: flex;
        padding-bottom: 0px;
        .conteiner-fluid {
            .navbar-collapse {
                justify-content: flex-end;
            }
        }
        .navbar-nav {
            display: flex;
            align-items: center;
            li {
                list-style: none;
                margin: 7px 5px;
                border-left: 3px solid white;
                padding-left: 10px;
                &:nth-child(1) {
                    border-left: 0px;
                }
                a {
                    color: $header-txt-color;
                    font-size: 1.3rem;
                    text-decoration: none;
                    &:hover {
                        color: blueviolet;
                    }
                }
            }
        }
    }
}
footer {
    background-color: $bg-color;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    position: static;
    ul {
        display: flex;
        justify-content: flex-end;
        li {
            list-style: none;
            margin: 0px 10px;
            padding: 0;
            .logoRedes {
                @include img-size(50px, 50px);
            }
        }
    }  
}


.centrados {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* media queries */

@media screen and (max-width: 576px){

    main {
        background-image: none;
    }
    
    .headerPrincipal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 10px;
        .navbar-brand {
            img{
                display: flex;
                margin: auto;
            }
        }
        nav {
            .navbar-nav{
                flex-direction: column;
                align-items: start;
                li{
                    border-left: 0px;
                    padding-left: 0px;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
    footer {
        margin-top: 10px;
        padding-top: 0;
        ul {
            justify-content: center;
            margin: auto;
            padding: 0;
        }
    }
    
    /* index */
    
    .carousel img {
        height: 400px;
    }
    .sobreMi {
        flex-direction: column;
        align-items: center;
        .textoSobreMi {
            width: 90%;
            h2 {
                margin-top: 25px;
                color: $txt-color;
            }
            p {
                color: $txt-color;
            }
        }
        .imgSobreMi {
            img {
                margin-top: 25px;
            }
        }  
    }
    .iframesIndex {
        flex-direction: column;
        aside {
            margin-bottom: 15px;
            iframe{
                width: 100%;
            }
        }
    }
    .sponsorSection {
        flex-direction: column;
        justify-content: space-around;
        .sponsorLeft {
            align-items: center;
            .imgTxtIndex {
                display: none;
            }
            .sponsorSectionTxt{
                margin-top: 15px;
                width: 90%;
                height: auto;
                text-align: justify;
                h2{
                    color: $txt-color;
                    text-decoration: overline;
                }
                p{
                    color: $txt-color;
                }
            }
        }
        .sponsorSectionImg {
            .indexImg {
                display: none;
            }
            .indexLogo{
                justify-content: center;
            }
        }
    }

    /* cursos */

    .seccionCursos{
        img {
            margin-left: 0;
            box-shadow: none;
            @include img-size(auto, 600px)
        }
        .cursoConteiner {
            flex-direction: column;
            margin: 0;
            .adentroCurso {
                flex-direction: column;
                box-shadow: none;
                p {
                    margin-top: 10px;
                }
            }
        }
    } 

    /* galeria */

    .imgConteiner {
        width: 99%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-gap: 0px;
        margin-top: 3px;
        .boxImg{
            img{
                height: 500px;
            }
            &:nth-child(1){
                display: none;
            }
            &:nth-child(2){
                grid-row-start: span 1;
            }
            &:nth-child(4){
                grid-row-start: span 1;
            }
            &:nth-child(7){
                grid-row-start: span 1;
            }
            &:nth-child(8){
                grid-column-start: span 1;
            }
        }
    }

    /* biografia */

    .biografiaMain {
        padding: 0;
        img { 
            box-shadow: none;
            @include img-size (99%, 600px)
        }
    }
    .seccionInicios {
        display: flex;
        flex-direction: column;
        .textoInicios {
            box-shadow: none;
            p {
                width: auto;
            }
        }
    }
    .seccionCompitiendo {
        flex-direction: column;
        margin-top: 0;
        .textoCompitiendo {
            box-shadow: none;
            p {
                width: auto;
            }
        }
    }
    .seccionAlDiaDeHoy {
        flex-direction: column;
        margin-top: 0;
        .textoAlDiaDeHoy {
            box-shadow: none;
            p {
                width: auto;
            }
        }
    }
    .masNotas {
        color: $txt-color;
        border: 1px solid white;
        ul{
            li{
                a{
                    color: $txt-color;
                }
            }
        }
    }

    /* contacto*/

    h1{
        color: $txt-color;
    }
    .form-container {
        margin-top: 15px;
    }
    .footerContacto {
        position: static;
        margin-top: 15px;
        ul {
            justify-content: center;
            margin: auto;
        }
    }
} 