@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400&family=Ubuntu:ital,wght@0,400;1,300&display=swap');
@import "variables";
@import "index";
@import "cursos";
@import "galeria";
@import "video-galeria";
@import "biografia";
@import "contacto";

/* reset */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* estilos generales */

body {
    background-color: $bg-color;
    color: $txt-color;
    font-family: 'Ubuntu', sans-serif;
}

main {
    height: auto;
    background-size: 100%;
    background-image: url(../img/img-bg-2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.headerPrincipal {
    font-family: 'Dosis', sans-serif;
    background-color: $header-color;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    a{
        img{
            height: 100px;
            width: 350px;
            margin: 10px;
        }
    }
    nav {
        align-items: flex-end;
        display: flex;
        padding-bottom: 0px;
        .conteiner-fluid {
            .navbar-collapse {
                justify-content: flex-end;
            }
        }
        .navbar-nav {
            display: flex;
            align-items: center;
            .nav-item {
                list-style: none;
                margin: 7px 5px;
                padding-left: 10px;
                a {
                    color: $header-txt-color;
                    font-size: 1.3rem;
                    text-decoration: none;
                    &:hover {
                        color: blueviolet;
                    }
                }
            }
        }
    }
}
footer {
    background-color: $bg-color;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    position: static;
    ul {
        display: flex;
        justify-content: flex-end;
        li {
            list-style: none;
            margin: 0px 10px;
            padding: 0;
            .logoRedes {
                @include img-size(50px, 50px);
            }
        }
    }  
}

/* media queries */

/* mobile */

@media screen and (max-width: 576px){

    main {
        background-image: none;
    }
    
    .headerPrincipal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 10px;
        .navbar-brand {
            margin: auto;
            img{
                width: 200px;
                height: 55px;
            }
        }
        nav {
            .navbar-nav{
                flex-direction: column;
                align-items: start;
                li{
                    border-left: 0px;
                    padding-left: 0px;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
    footer {
        margin-top: 10px;
        padding-top: 0;
        ul {
            justify-content: center;
            margin: auto;
            padding: 0;
        }
    }
    
    /* index */
    
    .carousel img {
        height: 250px;
    }
    .sobreMi {
        flex-direction: column;
        align-items: center;
        padding-top: 0px;
        .textoSobreMi {
            width: 90%;
            padding-top: 0px;
            h2 {
                margin-top: 25px;
                color: $txt-color;
            }
            p {
                color: $txt-color;
                background-color: rgba(192, 192, 192, 0);
            }
        }
        .imgSobreMi {
            margin: 0px;
            img {
                margin-top: 25px;
            }
        }  
    }
    .iframesIndex {
        flex-direction: column;
        aside {
            margin-bottom: 15px;
            iframe{
                width: 100%;
            }
        }
    }
    .sponsorSection {
        flex-direction: column;
        justify-content: space-around;
        .sponsorLeft {
            align-items: center;
            .imgTxtIndex {
                display: none;
            }
            .sponsorSectionTxt{
                margin-top: 15px;
                width: 90%;
                height: auto;
                text-align: justify;
                h2{
                    color: $txt-color;
                    text-decoration: overline;
                }
                p{
                    color: $txt-color;
                    background-color: rgba(192, 192, 192, 0);
                }
            }
        }
        .sponsorSectionImg {
            .indexImg {
                display: none;
            }
            .indexLogo{
                justify-content: center;
            }
        }
    }

    .mediaContainer {
        display: flex;
        flex-direction: column;
        .iframesIndexDos {
            iframe {
                margin-top: 10px;
                width: 100%;
                height: 200px;
            }       
        }
        .imgScrollIndex {
            img {
                margin-top: 20px;
                @include img-size (100%,400px);
                border-radius: 0;
            }
        }
    }

    .finIndex  {
        display: flex;
        flex-direction: column;
        .iframesIndexDos {
            iframe {
                margin-top: 10px;
                width: 100%;
                height: 250px;
            }       
        }
        .textoFinIndex {
            width: 90%;
            color: $txt-color;
            p {
                background-color: rgba(192, 192, 192, 0);
            } 
        }
    }

    /* cursos */

    .seccionCursos{
        img {
            margin-left: 0;
            box-shadow: none;
            @include img-size(auto, 500px)
        }
        .cursoConteiner {
            flex-direction: column;
            margin: 0;
            .adentroCurso {
                flex-direction: column;
                margin: 0px;
                align-items: center;
                p {
                    margin-top: 10px;
                }
            }
        }
    } 

    /* galeria */

    /* fotos */

    .imgConteiner {
        width: 99%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-gap: 0px;
        padding-top: 0px;
        .boxImg{
            img{
                height: 500px;
            }
            &:nth-child(1){
                display: none;
            }
            &:nth-child(2){
                grid-row-start: span 1;
            }
            &:nth-child(4){
                grid-row-start: span 1;
            }
            &:nth-child(7){
                grid-row-start: span 1;
            }
            &:nth-child(8){
                grid-column-start: span 1;
            }
        }
    }

    /* videos */

    #carouselExampleIndicators {
        width: 100%;
        padding: 0;
        .carousel-inner {
            .carousel-item {
                iframe {
                    height: 350px;
                }
            }
        }
    }

    .videoBox {
        flex-direction: column;
        padding: 0;
        iframe {
            border: none;
            width: 100%;
            height: 200px;
            margin-top: 10px;
        }
    }

    /* biografia */

    .biografiaMain {
        padding: 0;
        img { 
            @include img-size (99%, 450px)
        }
    }
    .seccionInicios {
        display: flex;
        flex-direction: column;
        .textoInicios {
            p {
                width: auto;
            }
        }
    }
    .seccionCompitiendo {
        flex-direction: column;
        margin-top: 0;
        .textoCompitiendo {
            p {
                width: auto;
            }
        }
    }
    .seccionAlDiaDeHoy {
        flex-direction: column;
        margin-top: 0;
        .textoAlDiaDeHoy {
            p {
                width: auto;
            }
        }
    }
    .masNotas {
        color: $txt-color;
        border: 1px solid white;
        background-color: rgba(192, 192, 192, 0);
        ul{
            li{
                a{
                    color: $txt-color;
                }
            }
        }
    }

    /* contacto*/

    h1{
        color: $txt-color;
        margin-top: 25px;
    }
    .form-container {
        form{
            padding: 0px;
            width: 90%;
            .btn{
                display: flex;
                margin: auto;
            }
        }
    }
}

/* tablet */

@media screen and (min-width: 577px) and (max-width: 992px) {

    main {
        background-image: none;
    }
    
    .headerPrincipal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 10px;
        .navbar-brand {
            margin: auto;
        }
        nav {
            .navbar-nav{
                flex-direction: column;
                align-items: start;
                li{
                    border-left: 0px;
                    padding-left: 0px;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
    footer {
        margin-top: 10px;
        padding-top: 0;
        ul {
            justify-content: center;
            margin: auto;
            padding: 0;
        }
    }
    
    /* index */
    
    .carousel img {
        height: 660px;
    }
    .sobreMi {
        flex-direction: column;
        align-items: center;
        padding-top: 0px;
        .textoSobreMi {
            width: 90%;
            padding-top: 0px;
            h2 {
                margin-top: 25px;
                color: $txt-color;
            }
            p {
                color: $txt-color;
                background-color: rgba(192, 192, 192, 0);
            }
        }
        .imgSobreMi {
            margin: 0px;
            img {
                margin-top: 25px;
            }
        }  
    }
    .iframesIndex {
        flex-direction: column;
        aside {
            margin-bottom: 15px;
            iframe{
                width: 100%;
            }
        }
    }
    .sponsorSection {
        flex-direction: column;
        justify-content: space-around;
        .sponsorLeft {
            align-items: center;
            .imgTxtIndex {
                display: none;
            }
            .sponsorSectionTxt{
                margin-top: 15px;
                width: 90%;
                height: auto;
                text-align: justify;
                h2{
                    color: $txt-color;
                    text-decoration: overline;
                }
                p{
                    color: $txt-color;
                    background-color: rgba(192, 192, 192, 0);
                }
            }
        }
        .sponsorSectionImg {
            .indexImg {
                display: none;
            }
            .indexLogo{
                justify-content: center;
            }
        }
    }
    
    .mediaContainer {
        display: flex;
        flex-direction: column;
        .imgScrollIndex {
            img {
                margin-top: 10px;
                @include img-size (100%,800px);
                border-radius: 0;
            }
        }
    }

    .finIndex  {
        display: flex;
        flex-direction: column;
        .iframesIndexDos {
            iframe {
                margin-top: 10px;
                width: 100%;
                height: 400px;
            }       
        }
        .textoFinIndex {
            width: 90%;
            color: $txt-color;
            p {
                background-color: rgba(192, 192, 192, 0);
            } 
        }
    }

    /* cursos */

    .seccionCursos{
        img {
            margin-left: 0;
            @include img-size(auto, 750px)
        }
        .cursoConteiner {
            flex-direction: column;
            margin: 0;
            .adentroCurso {
                flex-direction: column;
                margin: 0px;
                align-items: center;
                p {
                    margin-top: 10px;
                }
            }
        }
    } 

    /* galeria */

    /* fotos */

    .imgConteiner {
        width: 99%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-gap: 0px;
        padding-top: 0px;
        .boxImg{
            img{
                height: 1000px;
            }
            &:nth-child(1){
                display: none;
            }
            &:nth-child(2){
                grid-row-start: span 1;
            }
            &:nth-child(4){
                grid-row-start: span 1;
            }
            &:nth-child(7){
                grid-row-start: span 1;
            }
            &:nth-child(8){
                grid-column-start: span 1;
            }
        }
    }

    /* videos */

    #carouselExampleIndicators {
        width: 100%;
        padding: 0;
        .carousel-inner {
            .carousel-item {
                iframe {
                    height: 660px;
                }
            }
        }
    }

    .videoBox {
        flex-direction: column;
        padding: 0;
        iframe {
            border: none;
            width: 100%;
            height: 400px;
            margin-top: 10px;
        }
    }

    /* biografia */

    .biografiaMain {
        padding: 0;
        img { 
            @include img-size (99%, 850px)
        }
    }
    .seccionInicios {
        display: flex;
        flex-direction: column;
        .textoInicios {
            p {
                width: auto;
            }
        }
    }
    .seccionCompitiendo {
        flex-direction: column;
        margin-top: 0;
        .textoCompitiendo {
            p {
                width: auto;
            }
        }
    }
    .seccionAlDiaDeHoy {
        flex-direction: column;
        margin-top: 0;
        .textoAlDiaDeHoy {
            box-shadow: none;
            p {
                width: auto;
            }
        }
    }
    .masNotas {
        color: $txt-color;
        border: 1px solid white;
        background-color: rgba(192, 192, 192, 0);
        ul{
            li{
                a{
                    color: $txt-color;
                }
            }
        }
    }

    /* contacto*/

    h1{
        color: $txt-color;
        text-align: center;
        margin-top: 25px;
    }
    .form-container {
        form{
            padding: 0px;
            width: 90%;
            .btn{
                display: flex;
                margin: auto;
            }
        }
    }
} 