@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;400&family=Ubuntu:ital,wght@0,400;1,300&display=swap");
body p {
  color: black;
}
body h2 {
  color: black;
}
body .carousel img {
  height: 735px;
  width: 100%;
}
body .sobreMi {
  display: flex;
  align-items: center;
}
body .sobreMi img {
  height: 275px;
  width: 275px;
  border-radius: 50%;
  margin: 100px 50px 100px 120px;
}
body .sobreMi h2 {
  margin-bottom: 15px;
  text-decoration-line: overline;
}
body .sobreMi p {
  margin-right: 150px;
  text-align: justify;
  font-weight: 900;
}
body .iframesIndex {
  display: flex;
  justify-content: space-evenly;
}
body .sponsorSection {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
body .sponsorSection .sponsorLeft {
  display: flex;
  flex-direction: column;
}
body .sponsorSection .sponsorLeft .imgTxtIndex img {
  height: 400px;
  width: 230px;
  margin-left: -25px;
  margin-top: -150px;
}
body .sponsorSection .sponsorLeft .sponsorSectionTxt {
  height: 250px;
  width: 550px;
}
body .sponsorSection .sponsorLeft .sponsorSectionTxt p {
  text-align: justify;
  font-weight: 900;
}
body .sponsorSection .sponsorSectionImg {
  display: flex;
  flex-direction: column;
}
body .sponsorSection .sponsorSectionImg .indexImg img {
  height: 500px;
  width: 300px;
  margin-bottom: -5.5px;
}
body .sponsorSection .sponsorSectionImg .indexLogo {
  display: flex;
  justify-content: space-between;
}
body .sponsorSection .sponsorSectionImg .indexLogo img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.seccionCursos {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.seccionCursos img {
  height: 600px;
  width: 400px;
  box-shadow: 1px 1px 1px 1px;
}
.seccionCursos .cursoConteiner {
  display: flex;
  margin-bottom: 25px;
  margin-left: 25px;
}
.seccionCursos .cursoConteiner .adentroCurso {
  box-shadow: 1px 1px 1px 1px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 25px;
  margin-right: 25px;
  background-color: black;
}
.seccionCursos .cursoConteiner .adentroCurso p {
  text-align: justify;
}

.imgConteiner {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 300px);
  grid-gap: 20px;
}
.imgConteiner .boxImg figure {
  height: 100%;
  width: 100%;
}
.imgConteiner .boxImg img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid black;
}
.imgConteiner .boxImg:nth-child(1) {
  grid-column-start: span 2;
}
.imgConteiner .boxImg:nth-child(2) {
  grid-row-start: span 2;
}
.imgConteiner .boxImg:nth-child(4) {
  grid-row-start: span 2;
}
.imgConteiner .boxImg:nth-child(7) {
  grid-row-start: span 2;
}
.imgConteiner .boxImg:nth-child(8) {
  grid-column-start: span 2;
}

.biografiaMain {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.biografiaMain img {
  box-shadow: 1px 1px 1px 1px;
  height: 500px;
  width: 400px;
}
.biografiaMain p {
  width: 562px;
}
.biografiaMain .seccionInicios {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.biografiaMain .seccionInicios .textoInicios {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 1px 1px;
  padding: 25px;
  background-color: black;
}
.biografiaMain .seccionInicios .textoInicios h2 {
  text-align: center;
  margin-bottom: 20px;
}
.biografiaMain .seccionCompitiendo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 75px;
}
.biografiaMain .seccionCompitiendo .textoCompitiendo {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 1px 1px;
  padding: 25px;
  background-color: black;
}
.biografiaMain .seccionCompitiendo .textoCompitiendo h2 {
  text-align: center;
  margin-bottom: 20px;
}
.biografiaMain .seccionAlDiaDeHoy {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 75px;
}
.biografiaMain .seccionAlDiaDeHoy .textoAlDiaDeHoy {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 1px 1px;
  padding: 25px;
  background-color: black;
}
.biografiaMain .seccionAlDiaDeHoy .textoAlDiaDeHoy h2 {
  text-align: center;
  margin-bottom: 20px;
}
.biografiaMain .masNotas {
  margin: 50px 50px 5px 50px;
  box-shadow: 1px 1px 1px 1px;
  color: black;
}
.biografiaMain .masNotas h2 {
  padding: 10px;
}
.biografiaMain .masNotas ul li {
  list-style: none;
  margin: 10px 10px;
  padding: 0;
}
.biografiaMain .masNotas ul li a {
  text-decoration: none;
  color: black;
}

main h1 {
  color: black;
  margin-top: 25px;
  padding-left: 25px;
}
main .form-container {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
main .form-container form {
  background-color: black;
  width: 50%;
  border: 1px solid black;
  padding: 20px;
  border-radius: 5px;
}
main .form-container form .mb-3 .form-text {
  color: white;
}
main .form-container form .btn {
  background-color: white;
  color: black;
}

.footerContacto {
  margin-top: 70px;
  display: flex;
  position: static;
  justify-content: flex-end;
  bottom: 0;
}

/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* estilos generales */
body {
  height: auto;
  background-size: 100%;
  background-image: url(../img/img-bg-2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: whitesmoke;
  font-family: "Ubuntu", sans-serif;
}
body .headerPrincipal {
  font-family: "Dosis", sans-serif;
  background-color: black;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}
body .headerPrincipal nav {
  align-items: flex-end;
  display: flex;
  padding-bottom: 0px;
}
body .headerPrincipal nav .conteiner-fluid .navbar-collapse {
  justify-content: flex-end;
}
body .headerPrincipal nav .navbar-nav {
  display: flex;
  align-items: center;
}
body .headerPrincipal nav .navbar-nav li {
  list-style: none;
  margin: 7px 5px;
  border-left: 3px solid white;
  padding-left: 10px;
}
body .headerPrincipal nav .navbar-nav li:nth-child(1) {
  border-left: 0px;
}
body .headerPrincipal nav .navbar-nav li a {
  color: whitesmoke;
  font-size: 1.3rem;
  text-decoration: none;
}
body .headerPrincipal nav .navbar-nav li a:hover {
  color: blueviolet;
}
body footer {
  background-color: black;
  bottom: 0;
  margin-top: 10px;
  padding-top: 25px;
  padding-bottom: 20px;
  position: static;
}
body footer ul {
  display: flex;
  justify-content: flex-end;
}
body footer ul li {
  list-style: none;
  margin: 0px 10px;
  padding: 0;
}
body footer ul li .logoRedes {
  height: 50px;
  width: 50px;
}

.centrados {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* media queries */
@media screen and (max-width: 576px) {
  body {
    background-image: none;
    background-color: black;
    color: whitesmoke;
  }
  body .headerPrincipal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
  }
  body .headerPrincipal .navbar-brand img {
    display: flex;
    margin: auto;
  }
  body .headerPrincipal nav .navbar-nav {
    flex-direction: column;
    align-items: start;
  }
  body .headerPrincipal nav .navbar-nav li {
    border-left: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
  }
  body footer {
    margin-top: 10px;
    padding-top: 0;
  }
  body footer ul {
    justify-content: center;
    margin: auto;
    padding: 0;
  }
  /* index */
  body p {
    color: whitesmoke;
  }
  body h2 {
    color: whitesmoke;
  }
  body .carousel img {
    height: 400px;
  }
  body .sobreMi {
    flex-direction: column;
  }
  body .sobreMi img {
    margin: auto;
    margin-top: 25px;
  }
  body .sobreMi h2 {
    margin-left: 15px;
    margin-top: 25px;
  }
  body .sobreMi p {
    margin: 15px;
  }
  body .iframesIndex {
    flex-direction: column;
  }
  body .iframesIndex aside {
    padding: auto;
    box-shadow: none;
  }
  body .iframesIndex aside iframe {
    margin-top: 15px;
    width: 100%;
  }
  body .sponsorSection {
    flex-direction: column;
  }
  body .sponsorSection h2 {
    text-decoration: overline;
  }
  body .sponsorSection .sponsorLeft .imgTxtIndex {
    display: none;
  }
  body .sponsorSection .sponsorSectionTxt {
    margin: auto;
    padding: 25px;
    text-align: justify;
  }
  body .sponsorSection .sponsorSectionImg {
    margin-top: 100px;
  }
  body .sponsorSection .sponsorSectionImg .indexImg {
    display: none;
  }
  body .sponsorSection .sponsorSectionImg .indexLogo {
    margin-bottom: 25px;
    justify-content: center;
  }
  /* cursos */
  .seccionCursos img {
    box-shadow: none;
    height: 600px;
    width: auto;
  }
  .seccionCursos .cursoConteiner {
    flex-direction: column;
    margin: 0;
  }
  .seccionCursos .cursoConteiner .adentroCurso {
    flex-direction: column;
    box-shadow: none;
  }
  .seccionCursos .cursoConteiner .adentroCurso p {
    margin-top: 10px;
  }
  /* galeria */
  .imgConteiner {
    width: 99%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-gap: 0px;
    margin-top: 3px;
  }
  .imgConteiner .boxImg img {
    height: 500px;
  }
  .imgConteiner .boxImg:nth-child(1) {
    display: none;
  }
  .imgConteiner .boxImg:nth-child(2) {
    grid-row-start: span 1;
  }
  .imgConteiner .boxImg:nth-child(4) {
    grid-row-start: span 1;
  }
  .imgConteiner .boxImg:nth-child(7) {
    grid-row-start: span 1;
  }
  .imgConteiner .boxImg:nth-child(8) {
    grid-column-start: span 1;
  }
  /* biografia */
  .biografiaMain {
    margin-top: 10px;
  }
  .biografiaMain p {
    width: auto;
  }
  .biografiaMain img {
    box-shadow: none;
    width: 100%;
    height: 600px;
  }
  .biografiaMain .seccionInicios {
    display: flex;
    flex-direction: column;
  }
  .biografiaMain .seccionInicios .textoInicios {
    box-shadow: none;
  }
  .biografiaMain .seccionCompitiendo {
    flex-direction: column;
    margin-top: 0;
  }
  .biografiaMain .seccionCompitiendo .textoCompitiendo {
    box-shadow: none;
  }
  .biografiaMain .seccionAlDiaDeHoy {
    flex-direction: column;
    margin-top: 0;
  }
  .biografiaMain .seccionAlDiaDeHoy .textoAlDiaDeHoy {
    box-shadow: none;
  }
  .biografiaMain .masNotas {
    color: whitesmoke;
  }
  .biografiaMain .masNotas ul li a {
    color: whitesmoke;
  }
  /* contacto*/
  main h1 {
    color: whitesmoke;
  }
  main .form-container {
    margin-top: 15px;
  }
  main .footerContacto {
    position: static;
    margin-top: 15px;
  }
  main .footerContacto ul {
    justify-content: center;
    margin: auto;
  }
}/*# sourceMappingURL=style.css.map */